body {
  background-color: rgb(241, 241, 202);
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  background-color: white;
  padding: 20px;
}

.navbar .nav-link {
  color: #f2f2f2;
  font-weight: 500;
  font-size: 15px;
}

.navbar .navbar-brand {
  color: #000000;
  font-weight: 700;
  font-size: 35px;
}

.header-section {
  text-align: center;
  padding: 100px 0;
  background-color: #ffffff;
}

.header-section h1 {
  font-size: 3.5em;
  font-weight: 700;
  margin-bottom: 10px;
}

.header-section p {
  font-size: 1.5em;
  color: #000000;
  margin-bottom: 50px;
}

.projects-section {
  padding: 60px 0;
}

.projects-section h2 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 40px;
  color: #000000;
}

.project-link {
  margin: 10px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.project-img-container {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  filter: grayscale(100%);
}

.project-img:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
}

.project-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-img-container:hover .project-name {
  opacity: 1;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #ffffff;
  color: #bbb;
}

footer p {
  margin: 0;
  font-weight: 300;
  color: black;
}